@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.logo-title {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    background-color:white;
}

hr{
    max-width: 500px;
    margin: 0 auto;
}